<section class="speaker" id="speaker">
  <div class="speaker__container wide">
    <div class="speaker__wrapp">
      <div class="speaker__body">
        <div class="speaker__heading">
          <h2 class="commit__tl">Спікери</h2>
        </div>

        <ul class="commit__list">
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_1.jpg" alt="" />
            </div>
            <h3 class="tl3">Elizaveta Qweentessa</h3>
            <div class="commit__desc">
              <p>
                Managing Director/ HR Operations Director Ukraine at Luxoft, A
                DXC Technology Company
              </p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_2.jpg" alt="" />
            </div>
            <h3 class="tl3">Margarita Solianyk</h3>
            <div class="commit__desc">
              <p>
                Managing Director/ HR Operations Director Ukraine at Luxoft, A
                DXC
              </p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_3.jpg" alt="" />
            </div>
            <h3 class="tl3">Svitlana Vorobey</h3>
            <div class="commit__desc">
              <p>CEO Qween groupe</p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_4.jpg" alt="" />
            </div>
            <h3 class="tl3">Katerina Milevska</h3>
            <div class="commit__desc">
              <p>
                Managing Director/ HR Operations Director Ukraine at Luxoft, A
                DXC
              </p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_1.jpg" alt="" />
            </div>
            <h3 class="tl3">Elizaveta Qweentessa</h3>
            <div class="commit__desc">
              <p>
                Managing Director/ HR Operations Director Ukraine at Luxoft, A
                DXC Technology Company
              </p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_2.jpg" alt="" />
            </div>
            <h3 class="tl3">Margarita Solianyk</h3>
            <div class="commit__desc">
              <p>
                Managing Director/ HR Operations Director Ukraine at Luxoft, A
                DXC
              </p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_3.jpg" alt="" />
            </div>
            <h3 class="tl3">Svitlana Vorobey</h3>
            <div class="commit__desc">
              <p>CEO Qween groupe</p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
          <li class="commit__item">
            <div class="commit__img ibg">
              <img src="./img/content/ambass_4.jpg" alt="" />
            </div>
            <h3 class="tl3">Katerina Milevska</h3>
            <div class="commit__desc">
              <p>
                Managing Director/ HR Operations Director Ukraine at Luxoft, A
                DXC
              </p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/conn_2.svg" alt="" /></span>
              LinkedIn
            </a>
          </li>
        </ul>

        <!-- <div class="events__pagin pagesFacet">
          <div
            class="facetwp-facet facetwp-facet-view_all_events facetwp-type-pager"
            data-name="view_all_events"
            data-type="pager"
          >
            <button class="facetwp-load-more" data-loading="View all events">
              View all events
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
