<div class="modal evidence" id="idEvidence">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <div class="evidence__ava ibg">
        <img src="./img/content/ambass_1.jpg" alt="" />
      </div>
      <button type="button" class="modal__close closeModal"></button>

      <div class="evidence__wrapp">
        <h2 class="evidence__tl">Elizaveta Qweentessa</h2>
        <div class="evidence__activity">
          <p>CEO Qween groupe</p>
        </div>
        <div class="txt-def">
          <p>
            Our community brings together professionals eager to develop, share
            experiences, and shape the future of the industry. Here, you’ll find
            everything you need for personal and professional growth.
          </p>
        </div>
        <div class="evidence__box">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="YouTube"
                aria-label="Social network YouTube"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_2.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>

          <a href="#" target="_blank" rel="noopener noreferrer" class="btn-def">
            Let's Connect
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
