.arrows {
  &__body {
    display: flex;
    gap: 0 1.0625rem;
  }

  &__next,
  &__prev {
    border: 0.0625rem solid var(--cy);
    border-radius: 50%;
    padding: 1.25rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
    &::before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--arrSlideRightY);
      transition: all 0.15s ease-in;
    }
    &:hover {
      background-color: var(--cy);
      &::before {
        background-image: var(--arrSlideRightB);
      }
    }
    &.isDisabled {
      cursor: no-drop;
      opacity: 0.7;
      &:hover {
        background-color: transparent;
        &::before {
          background-image: var(--arrSlideRightY);
        }
      }
    }
  }

  &__prev {
    &::before {
      transform: rotateY(180deg);
    }
  }
}

@media screen and (max-width: 960px) {
  .arrows {
    width: 100%;
    &__body {
      justify-content: space-between;
    }

    &__next,
    &__prev {
      background-color: var(--cy);
      border-radius: 0.9375rem;
      padding: 0.75rem;
      &::before {
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
        background-image: var(--arrSlideRightB);
      }
      &.isDisabled {
        &:hover {
          background-color: var(--cy);
          &::before {
            background-image: var(--arrSlideRightB);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
