body {
  /* Colors */
  --cm: #222;
  --cb: #000;
  --cw: #fff;
  --cw2: #fbf5e7;
  --cy: #f4fd19;
  --cg: #ccfe8d;
  --cg2: #2dbe64;
  --cl: #00c8a3;
  --co: #fdb481;
  --cc: #1870b1;
  --cr: red;

  /* Fonts */
  --ff1: "Montserrat", sans-serif;
  --ff2: "Forum", sans-serif;
  --ff3: "PlayfairDisplay", sans-serif;
}
