<section class="hero">
  <div class="hero__container">
    <div class="hero__wrapp">
      <div class="hero__fltr1 no-select">
        <img src="./img/decor/hero_fltr1.svg" alt="" />
      </div>
      <div class="hero__fltr2 no-select">
        <img src="./img/decor/hero_fltr2.svg" alt="" />
      </div>

      <div class="hero__body">
        <h1 class="hero__title">
          <span class="wrd1">Innovate</span><br />
          <span class="wrd2">Connect</span><br />
          <span class="wrd3">Lead</span>
        </h1>
        <div class="hero__box">
          <div class="txt-def cw">
            <p>
              International community for HR and recruiters. Connecting people,
              ideas, and opportunities.
            </p>
          </div>
          <a href="#" class="btn-def">Become a member</a>
          <span>
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
