<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__wrapp">
      <div class="subscribe__fltr no-select" aria-hidden="true">
        <img src="./img/decor/ambass_fltr.svg" alt="" />
      </div>
      <div class="subscribe__heading">
        <p class="subscribe__subtl">How to</p>
        <h2 class="subscribe__tl">Subscribe?</h2>
      </div>

      <load src="partials/home/stages.html" />
      <load src="partials/home/plans.html" />
      <load src="partials/home/join.html" />
    </div>
  </div>
</section>
